@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 16px;
}
.container{
  margin: 70px auto;
  max-width: 368px;
}
.container__img{
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.container__linksWrapper{
  display: flex;
  align-items: center;
  margin: 24px 0;
  margin-left: -12px;
  flex-wrap: wrap;
}
.link{
  font-size: 12px;
  line-height: 18px;
  font-family: 'inter', sans-serif;
  text-decoration: none;
  color: #4A5568;
  margin:0 12px;
}
.link--selected{
  font-weight: bold;
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 4px;
}
.colorBlue{
  background-color: #3182CE;
}
.colorCyan{
  background-color: #0891B2;
}
.colorRose{
  background-color: #E11D48;
}
.verticalLine{
  width: 1px;
  height: 12px;
  background-color: #CBD5E0;
  margin: 0;
  border: 0;
}
.header{
  font-size: 20px;
  line-height: 24px;
  color: #1A202C;
  font-family: "inter", sans-serif;
  font-weight: bold;
  margin: 0;
}
.paragraph{
  font-size: 18px;
  line-height: 32px;
  color: #4A5568;
  font-family: "inter", sans-serif;
  margin-top: 16px;
  margin-bottom: 24px;
}
.container__authorWrapper{
  display: flex;
  align-items: center;
}
.container__authorText{
  font-family: "inter", sans-serif;
  margin-left: 16px;
}
.authorHeader{
  font-size: 14px;
  line-height: 20px;
  color: #1A202C;
  margin: 0;
}
.paragraphText{
  font-size: 12px;
  line-height: 16px;
  color: #718096;
  margin: 0;
}
